<h1>Dashboard</h1>
<h2>Welcome, {{user.firstName}}</h2>

<h3 class="text-primary">Active Habits</h3>
<div class="bg-muted rounded-md w-full h-20 my-5"></div>

<h3 class="text-primary">Current streaks</h3>
<div class="bg-muted rounded-md w-full h-20 my-5"></div>