<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{{{title}}}</title>
		<meta name="description" content="{{{description}}}" />

		<link href="/styles/tailwind.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<nav class="flex list-none gap-5">
				<li><a href="/">Home</a></li>
				<li><a href="/auth/sign-up">Login/Sign up</a></li>
			</nav>
		</header>
		{{{body}}}
	</body>
</html>